.yellow {
	background-color: yellow;
	padding-bottom: 3em;
	width: 200px;
	height: 100px;
	margin: 20px;
	display: inline-block;
}

.black {
	background-color: black;
	padding-bottom: 3em;
	width: 200px;
	height: 100px;
	display: inline-block;
}

h4 {
	padding: 0.4em;
}

.diferente {
	color: white;
}